.body {
    background-color: #dddee0;
}

.btn-action {
    background: url(../../Assets/IMG/cart.png) no-repeat;
    background-size: 100%;
    background-position: center;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.box-login {
    width: 25em;
    background-color: #f7f7f7;
    padding: 3.5em 2.5em;
    border-radius: 17px;
    border-color: #a0a1a3;
    box-shadow: 0px 0px 5px #222;
}

.box-register {
    width: 35em;
    background-color: #f7f7f7;
    padding: 3.5em 2.5em;
    border-radius: 17px;
    border-color: #a0a1a3;
    box-shadow: 0px 0px 5px #222;
}

.box-acerca {
    background-color: #f7f7f7;
    padding: 3.5em 2.5em;
    border-radius: 17px;
    border-color: #a0a1a3;
    box-shadow: 0px 0px 5px #222;
}

.box-productos {
    background-color: #fff;
    padding: 3.5em 2.5em;
    border-color: #a0a1a3;
    box-shadow: inset 1px -1px 7px #000;
}

.box-carrito {
    background-color: #fff;
    padding: 3.5em 2.5em;
    border-color: #a0a1a3;
    min-height: 30%;
    box-shadow: inset 1px -1px 7px #000;
}

.nav-item-cart {
    display: none;
}

/* PRODUCTOS */

.working-box {
    padding-left: 0;
    overflow: auto;
}

.box-header-products {
    background: url(../IMG/bg_products.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 15em;
    overflow: hidden;
    padding: 5em;
}

.category-list {
    float: right;
    display: flex;
    height: 48px;
    width: 100%;
    list-style: none;
    margin-left: 1.75em;
    list-style: none;
}

.category-nav {
    list-style: none;
    cursor: pointer;
}

.category-box:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.category-box {
    display: inline-block;
    width: 17em;
}

.products-area {
    height: 100%;
    width: calc(100% - 17em);
    float: right;
    display: block;
    border-right: none;
    border-left-style: solid;
    border-left-width: 1px;
    overflow: hidden;
}

/* MSG */

.error-msg {
    width: 95%;
    background-color: #e325268f;
    color: white;
    margin: 0 auto;
    font-size: 20px;
}

.error-msg-btn {
    border: none;
    background-color: transparent;
    color: white;
    float: right;
    padding-top: -1em;
    cursor: pointer;
    font-size: 20px;
}

@media screen and (max-width:1100px) {
    .btn-action {
        position: absolute;
        right: 1em;
        background: url(../../Assets/IMG/trLine.png) no-repeat;
        background-size: 100%;
        background-position: center;
        height: 48px;
        width: 48px;
        cursor: pointer;
    }
    .nav-item-cart {
        display: block;
    }
    .box-productos {
        background-color: #fff;
        padding: 3.5em .5em;
        border-color: #a0a1a3;
        box-shadow: inset 1px -1px 7px #000;
    }
    .box-carrito {
        background-color: #fff;
        padding: 3.5em .8em;
        border-color: #a0a1a3;
        box-shadow: inset 1px -1px 7px #000;
        min-height: 30%;
    }
    .category-box {
        position: initial;
        display: block;
        width: 100%;
    }
    .working-box {
        padding-left: 0;
    }
    .products-area {
        display: inline-block;
        height: 100%;
        width: 100%;
        border-left: none;
        border-top-style: solid;
        border-top-width: 1px;
    }
    .error-msg {
        width: 95%;
        background-color: #e325268f;
        color: white;
        margin: 0 auto;
        font-size: 16px;
    }
    .error-msg-btn {
        border: none;
        background-color: transparent;
        color: white;
        float: right;
        padding-top: -1em;
        cursor: pointer;
        font-size: 16px;
    }
    .box-header-products {
        background: url(../IMG/bg_products.png) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 15em;
        overflow: hidden;
        padding: 5.5em 3.5em;
    }
    .separator-products {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .nav-item-cart {
        display: block;
    }
    .btn-action {
        position: absolute;
        right: 1em;
        background: url(../../Assets/IMG/trLine.png) no-repeat;
        background-size: 100%;
        background-position: center;
        height: 48px;
        width: 48px;
        cursor: pointer;
    }
    .box-login {
        width: 20em;
        background-color: #f7f7f7;
        padding: 3.5em 2.5em;
        border-radius: 17px;
        border-color: #a0a1a3;
    }
    .box-register {
        width: 20em;
        background-color: #f7f7f7;
        padding: 3.5em 2.5em;
        border-radius: 17px;
        border-color: #a0a1a3;
    }
    .category-box {
        position: initial;
        width: 100%;
    }
    .working-box {
        padding-left: 0;
    }
    .products-area {
        display: inline-block;
        height: auto;
        width: 100%;
        border-left: none;
        border-top-style: solid;
        border-top-width: 1px;
    }
    .error-msg {
        width: 95%;
        background-color: #e325268f;
        color: white;
        margin: 0 auto;
        font-size: 10px;
    }
    .error-msg-btn {
        border: none;
        background-color: transparent;
        color: white;
        float: right;
        padding-top: -1em;
        cursor: pointer;
        font-size: 10px;
    }
    .box-header-products {
        background: url(../IMG/bg_products.png) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 15em;
        overflow: hidden;
        padding: 5.5em 2.5em;
    }
    .separator-products {
        display: none;
    }
}