.body {
    background-color: #dddee0;
}

.btn-action {
    background: url(../../Assets/IMG/cart.png) no-repeat;
    background-size: 100%;
    background-position: center;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.box-login {
    width: 25em;
    background-color: #f7f7f7;
    padding: 3.5em 2.5em;
    border-radius: 17px;
    border-color: #a0a1a3;
}

.box-register {
    width: 35em;
    background-color: #f7f7f7;
    padding: 3.5em 2.5em;
    border-radius: 17px;
    border-color: #a0a1a3;
}

.box-acerca {
    background-color: #f7f7f7;
    padding: 3.5em 2.5em;
    border-radius: 17px;
    border-color: #a0a1a3;
}

.box-productos {
    background-color: #f7f7f7;
    padding: 3.5em 2.5em;
    border-color: #a0a1a3;
    box-shadow: inset 1px -1px 7px #000;
}

.nav-item-cart {
    display: none;
}

/* PRODUCTOS */

.category-list {
    float: right;
    display: flex;
    height: 48px;
    width: 100%;
    list-style: none;
    margin-left: 1.75em;
    list-style: none;
}

.category-nav {
    list-style: none;
    cursor: pointer;
}

.category-box {
    display: inline-block;
    width: 20em;
    border-right-style: solid;
    border-right-width: 1px;
}

.products-area {
    display: inline-block;
    height: 100%;
    width: calc(100% - 20em);
    float: right;
}

@media screen and (max-width:1100px) {
    .btn-action {
        position: absolute;
        right: 1em;
        background: url(../../Assets/IMG/trLine.png) no-repeat;
        background-size: 100%;
        background-position: center;
        height: 48px;
        width: 48px;
        cursor: pointer;
    }
    .nav-item-cart {
        display: block;
    }
    .category-box {
        position: initial;
        display: block;
        width: 100%;
        border-right: none;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    .working-box {
        padding-left: 0;
    }
}

@media screen and (max-width:600px) {
    .nav-item-cart {
        display: block;
    }
    .btn-action {
        position: absolute;
        right: 1em;
        background: url(../../Assets/IMG/trLine.png) no-repeat;
        background-size: 100%;
        background-position: center;
        height: 48px;
        width: 48px;
        cursor: pointer;
    }
    .box-login {
        width: 20em;
        background-color: #f7f7f7;
        padding: 3.5em 2.5em;
        border-radius: 17px;
        border-color: #a0a1a3;
    }
    .box-register {
        width: 20em;
        background-color: #f7f7f7;
        padding: 3.5em 2.5em;
        border-radius: 17px;
        border-color: #a0a1a3;
    }
    .category-box {
        position: initial;
        width: 100%;
        border-right: none;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    .working-box {
        padding-left: 0;
    }
}