@import "compass/css3";
.products-list-container {
    overflow: hidden;
    width: 100%;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px -4px 0;
    list-style: none;
    padding: 0;
}

.product-item-list {
    flex: 1 0 21em;
    position: relative;
    height: auto;
}

.product-item-list:empty {
    height: 0;
    border: none;
}

@media screen and (max-width:1100px) {
    .products-list-container {
        overflow: hidden;
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .products-list-container {
        overflow: hidden;
        width: 100%;
    }
}