<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../Assets/CSS/cycStyles.css">
        <link rel="stylesheet" href="../Assets/CSS/general.css">
        <link rel="stylesheet" href="../Assets/CSS/fidestore.css">
        <link rel="stylesheet" href="../Assets/CSS/msgAdvice.css">
        <link rel="icon" href="../Assets/IMG/favicon.png">
        <title>FideStore</title>
    </head>

    <body class="body">
        <nav class="nav text-white">
            <a href="./productos.html" class="nav-title">FideStore</a>
            <ul class="nav-list" id="nav-list" style="display: none;">
                <li class="nav-item"><a href="../Views/productos.html"
                        class="d-block text-white w-100 h-100">Productos</a></li>
                <li class="nav-item"><a href="../Views/acerca.html" class="d-block text-white w-100 h-100">Acerca</a>
                </li>
                <li class="nav-item nav-item-cart"><a id="cart" href="#"
                        class="d-block text-white w-100 h-100">Carrito</a></li>
                <li class="nav-item"><a href="../Views/login.html" id="user-control"
                        class="d-block text-white w-100 h-100">Inicio/Registro/MiCuenta</a>
                </li>
            </ul>
            <div class="btn-action" id="btn-action">
            </div>
        </nav>

        <!-- CONTENT -->

        <div class="mt-2 box-center-h box-acerca text-accent border-solid border-w-1 w-90 mb-10">
            <h2 class="text-left ">Fide Store</h2>
            <hr class="mt-1 mb">
            <p class="text-accent">Este es un proyecto de Ambiente web en la unversidad Fidelitas Costa Rica,
                el proyecto consta de una tienda virtual fictisia similar a Amazon. La idea es que se pueda publicar
                varios articulos,
                y los clientes por medio del registro puedan tener una cuenta y puedan comprar los articulos disponibles
            </p>
            <h4 class="mt-2 mb">Integrantes</h4>
            <h6 class="m-1">Daniel Coto Quiros</h6>
            <h6 class="m-1">Fernanda Fernandez</h6>
            <h6 class="m-1">Danilo Obando</h6>
            <h6 class="m-1">Irvin</h6>

        </div>
        <!-- FOOTER -->
        <footer class="footer text-white p-4">
            <div class="text-center mt-1">
                <p>FideStore@cycwebservice.cf</p>
            </div>
        </footer>

        <script src="../Assets/JS/general.js"></script>
    </body>

</html>