<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../Assets/CSS/cycStyles.css">
        <link rel="stylesheet" href="../Assets/CSS/general.css">
        <link rel="stylesheet" href="../Assets/CSS/fidestore.css">
        <link rel="stylesheet" href="../Assets/CSS/msgAdvice.css">
        <title>FideStore</title>
        <!-- OWN CSS -->
        <link rel="stylesheet" href="../Assets/CSS/productos.css">
        <link rel="stylesheet" href="../Assets/CSS/productos2.css">
    </head>

    <body class="body" id="body">
        <nav class="nav text-white">
            <a href="./productos.html" class="nav-title">FideStore</a>
            <ul class="nav-list" id="nav-list" style="display: none;">
                <li class="nav-item"><a href="../Views/productos.html"
                        class="d-block text-white w-100 h-100">Productos</a></li>
                <li class="nav-item"><a href="../Views/acerca.html" class="d-block text-white w-100 h-100">Acerca</a>
                </li>
                <li class="nav-item nav-item-cart"><a href="#" class="d-block text-white w-100 h-100">Carrito</a></li>
                <li class="nav-item"><a href="../Views/login.html" id="user-control"
                        class="d-block text-white w-100 h-100">Inicio/Registro/MiCuenta</a>
                </li>
            </ul>
            <!-- style="background: url(../../Assets/IMG/cart_with_items.png) no-repeat;
                    background-size: 100%;
                    background-position: center;"  -->
            <div class="btn-action" id="btn-action">
            </div>
        </nav>

        <!-- CONTENT -->
        Carrito
        <!-- FOOTER -->

        <footer class="footer text-white p-4">
            <div class="text-center mt-1">
                <p>FideStore@cycwebservice.cf</p>
            </div>
        </footer>

        <script src="../Assets/JS/general.js"></script>
        <script src="../Assets/JS/products.js"></script>
    </body>

</html>