<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../Assets/CSS/cycStyles.css">
        <link rel="stylesheet" href="../Assets/CSS/general.css">
        <link rel="stylesheet" href="../Assets/CSS/fidestore.css">
        <link rel="stylesheet" href="../Assets/CSS/msgAdvice.css">
        <link rel="icon" href="../Assets/IMG/favicon.png">
        <title>FideStore</title>
        <!-- OWN CSS -->
        <link rel="stylesheet" href="../Assets/CSS/productos.css">
    </head>

    <body class="body" id="body">
        <nav class="nav text-white">
            <a href="./productos.html" class="nav-title">FideStore</a>
            <ul class="nav-list" id="nav-list" style="display: none;">
                <li class="nav-item"><a href="../Views/productos.html"
                        class="d-block text-white w-100 h-100">Productos</a></li>
                <li class="nav-item"><a href="../Views/acerca.html" class="d-block text-white w-100 h-100">Acerca</a>
                </li>
                <li class="nav-item nav-item-cart"><a id="cart" href="#"
                        class="d-block text-white w-100 h-100">Carrito</a></li>
                <li class="nav-item"><a href="../Views/login.html" id="user-control"
                        class="d-block text-white w-100 h-100">Inicio/Registro/MiCuenta</a>
                </li>
            </ul>
            <div class="btn-action" id="btn-action">
            </div>
        </nav>

        <!-- CONTENT -->
        <div class="box-header-products">
            <div class="form-group box-center-h">
                <input type="text" id="filterProducts" placeholder="Busca alguna caracteristica"
                    class="form-content box-center-h ">
            </div>
        </div>

        <div class="box-center-h box-productos text-accent w-100 pb-5">
            <hr class="mt-1 mb separator-products">
            <div class="working-box">
                <div class="category-box">
                    <div class="mt-1 border-r-solid d-block">
                        <div class="form-group">
                            <input id="filterCategories" type="text" placeholder="Busca alguna categoria"
                                class="w-100 d-block form-content">
                        </div>
                        <ul class="d-block category-nav" id="categories-list">
                            <!-- CATEGORY EXMPLE 
                            <li class="category-item pl-2 pt-1 pb-1" style="
                            background-image: url(/Assets/IMG/check.png);
                            background-repeat: no-repeat;
                                        background-size: 25px 25px;
                                        background-position: 95%;">Categoria 1</li>
                            END CATEGORY EXMPLE -->
                        </ul>
                    </div>
                </div>
                <!-- PRODUCTS AREA -->
                <div class="products-area">

                    <div class="products-list-container w-100">
                        <ul class="products-list" id="products-list">
                            <!-- PRODUCT EXMPLE
                            <li class="product-item-list">
                                <div class="carta">
                                    <div class="carta-image" style="
                                        background: url(/Assets/IMG/temp_pc.png) no-repeat;
                                        background-size: contain;
                                        background-position: center center;"></div>
                                    <div class="carta-text">
                                        <h4 class="carta-title">Computadora</h4>
                                        <p class="mt-1 pl-1 pr-1">
                                            Este es el producto de prueba y no tiene que superar este limite...
                                        </p>
                                    </div>
                                    <div class="card-stats mt-1">
                                        <div class="stat stat-see">
                                            <div>Ver mas</div>
                                        </div>
                                        <div class="stat stat-add">
                                            <div>Agregar a la compra</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            END PRODUCT EXMPLE -->
                            <li class="product-item-list"></li>
                            <li class="product-item-list"></li>
                            <li class="product-item-list"></li>
                            <li class="product-item-list"></li>
                            <li class="product-item-list"></li>
                            <li class="product-item-list"></li>
                            <li class="product-item-list"></li>
                            <li class="product-item-list"></li>
                            <li class="product-item-list"></li>
                            <li class="product-item-list"></li>
                        </ul>
                    </div>

                </div>
                <!-- END PRODUCTS AREA -->
            </div>
        </div>
        <div class="d-block"></div>

        <!-- FOOTER -->
        <footer class="footer text-white p-4">
            <div class="text-center mt-1">
                <p>FideStore@cycwebservice.cf</p>
            </div>
        </footer>

        <script src="../Assets/JS/general.js"></script>
        <script src="../Assets/JS/products.js"></script>
    </body>

</html>